<% provide(:title, "About") %>
<div class="container">
  <h4>なぜこのようなサイトを作ったのか？</h4>
  <p>aaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああaaaaaaaああああああああああああああああああああああああああああ</p>
</div>