<%= render 'shared/flash_messages' %>
  
  <%# <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/syoukaki.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/syoubousya.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/kanchiki.png" alt="Third slide">
    </div>
    <div class="title">
      <h1>Fire Fighting Equipment</h1>
    </div>
  </div>
</div> %>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="top-wrapper">
    <div class="container">
      <h1>Fire Fighting Equipment</h1>
      <p>消防用設備の世界へようこそ</p>
      <%# 新規登録ボタン %>
      <div class="btn btn-danger">新規登録はこちら</div>
    </div>
  </div>
  <hr class="devise-link my-5">

  <%# Contents %>
  <div class="ontainer-fluid padding">
    <div class="row wlcome text-center">
      <div class="col-12">
        <h1>Contents</h1>
      </div>
      <hr class="devise-link my-5">
    </div>
  </div>

  <%# Cards %>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4">
        <div class="card">
          <img class="card-imd-top" src="assets/syoubousya.png" alt="消火器等のイラスト">
            <div class=card-body>
              <h4 class="card-title">サイト説明</h4>
              <p class="card-text">なぜこのようなサイトを作ったか</p>
              <%= link_to 'Click here', '#', class: 'btn btn-danger btn-block' %>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-imd-top" src="assets/kanchiki.png" alt="感知器のイラスト">
          <div class=card-body>
            <h4 class="card-title">消防用設備紹介</h4>
            <p class="card-text">消防用設備等は全部で○○種類あります。その中のいくつかを紹介します。</p>
            <%= link_to 'Click here', '#', class: 'btn btn-danger btn-block' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-imd-top" src="assets/syoukakitou.png" alt="消火器等のイラスト">
            <div class=card-body>
              <h4 class="card-title">消防用設備等検索</h4>
              <p class="card-text">建物情報を入力すると、必要な設備が分かります。</p>
              <%= link_to 'Click here', '#', class: 'btn btn-danger btn-block' %>
            </div>
        </div>
      </div>
    </div>
  </div>

  
