<% provide(:title, "Introduce") %>
<div class="container">
  <h4>消防用設備等とは</h4>
  <p>建物で火災が発生した際に、速やかに火災発生を建物内の人に知らせ、 一早く消火し、安全な避難を助ける設備の総称です。また、消防用設備等の中には消防隊の消火活動の助けとなる設備も入っています。</p>

  <p>そんな消防用設備等の一部をご紹介します。</p>

</div>